.createProject {
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
}

.formInput {
    margin-bottom: 15px;
}

