.main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.description {
    max-width: 50%;
    margin-right: 80px;
}

.linkToSignIn {
    align-items: center;
    margin: auto 0 auto auto;
}
